langgraph
langchain
langchain-openai
langchain-community
langchain-text-splitters

chromadb

streamlit

pymupdf
pdfplumber
pytesseract
Pillow

langdetect

sqlalchemy

python-dotenv

watchdog

pydantic